@use "../../../styles/colors" as *;

.header-wrapper {
  width: 100%;
  height: 5rem;
  padding-top: 1rem;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  nav {
    display: flex;
    flex-direction: row;
  }
}

.btn-login {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
