@use "../../../../styles/colors" as *;

.btn-flat-wrapper {
  width: 100px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.4rem;

  @include themed() {
    color: t("text");
  }

  @include transition(color 0.6s);
  border-radius: 1rem;

  &.btn-flat-active {
    font-weight: bold;
  }
  &:active {
    @include themed() {
      background-color: t("bg-active");
    }
  }

  //   @include transition(background 0.6s);

  span {
    margin-left: 0.4rem;
  }
}
